@page "/Customers/Index"
@using Mc2.CrudTest.Core.Domain.Customers.DTOs
@using Mc2.CrudTest.ServerHelper
@inject CrudTestClientService clientService

<h3>Customers Management</h3>

<div class="card">
    <div class="card-body p-0">
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>LastName</th>
                    <th>DateOfBirth</th>
                    <th>PhoneNumber</th>
                    <th>Email</th>
                    <th>BankAccountNumber</th>
                    <th>Operations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <input @bind="customer.FirstName" class="form-control" placeholder="FirstName" />
                    </td>
                    <td>
                        <input @bind="customer.LastName" class="form-control" placeholder="LastName" />
                    </td>
                    <td>
                        <input @bind="customer.DateOfBirth" class="form-control" placeholder="DateOfBirth" type="date" />
                    </td>
                    <td>
                        <input @bind="customer.PhoneNumber" class="form-control" placeholder="PhoneNumber (like +989123456789)" type="tel" />
                    </td>
                    <td>
                        <input @bind="customer.Email" class="form-control" placeholder="Email" type="email"/>
                    </td>
                    <td>
                        <input @bind="customer.BankAccountNumber" class="form-control" placeholder="IBan (like US021000021234567890123)" />
                    </td>
                    <td>
                        <a @onclick="AddCustomer" href="javascript:void(0)">save</a>
                    </td>
                </tr>
                @if (Customers?.Any() ?? false)
                {
                    foreach (var customer in Customers)
                    {
                        <CustomerRowItemComponent CustomerRowItem="customer"
                                                  UpdateCustomer="EditCustomer"
                                                  DeleteCustomer="DeleteCustomer" />
                    }
                }
                else
                {
                    <tr><td colspan="6">No Records Found!</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>